/* Project component CSS */
.project {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-browser {
    height: 15%;
    background-color: #c7c7c7;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.project-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.project-img {
    height: 100%;
    object-fit: cover;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}

.project-link {
    font-weight: 500;
    color: #1c74f7;
}

.project-link:hover {
    background-color: #1c74f7;
    color: whitesmoke;
    transition: all 0.3s ease-out;
    border-radius: 4px;
}

.content {
    height: 0px;
    margin-bottom: 1rem;
    padding: 5px;
}

.content-parent {
    height: 0px;
    overflow: hidden;
    transition: ease 0.3s;
    transform-origin: top;
    transform: scaleY(100%);
    background-color: #69a09a;
}

.content-parent.show {
    height: auto;
}

.project-img {
    width: 100%;
    transition: all 10s ease;
    cursor: pointer;
}

.project:over .project-img {
    transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
    .project {
        width: 40%;
        height: 20vh;
    }

    .content {
        font-size: .9rem;
        padding-bottom: .5rem;
    }
}