/* Resume component CSS */
.resume {
    height: 100vh;
    position: relative;
    text-align: start;
}

.resume-bg {
    width: 20px;
    height: 100%;
    background-color: #2a9d8f;
    position: absolute;
}

.resume-wrapper {
    padding: 10px;
    display: flex;
}

.education-items-container {
    display: flex;
    justify-content: space-between;
}

.resume-info-item {
    display: flex;
    align-items: flex-start;
    font-weight: 300;
    width: 70%;
}

.info-icon {
    width: auto;
    height: 30px;
    margin-right: 20px;
}

.download-link {
    color: rgb(36, 124, 255);
}

.resume-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding-left: 2.5%;
    padding-bottom: 2.5rem;
}

h2 {
    font-style: italic;
}

.resume-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding-left: 2.5%;
}

.resume-title {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
}

.resume-subtitle {
    font-size: 1.2rem;
    text-align: center;
}

.resume-desc {
    font-weight: 200;
    display: flex;
    flex-direction: column;
    padding: 1%;
}


@media screen and (max-width: 480px) {
    .resume-wrapper {
        flex-direction: column;
    }

    .resume-title {
        text-align: center;
        font-size: 2.5rem;
    }

    .resume-subtitle {
        text-align: center;
        font-size: 1.2rem;
    }

    .resume-desc {
        padding-top: 5%;
    }

    .bio {
        display: none;
    }

    .resume-left {
        margin-top: -1rem;
    }

    .resume-right {
        margin-top: -3rem;
    }

    .contact-info {
        padding-bottom: 2rem;
    }

}