.social-icons {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 8vw;
    top: 10px;
    right: 45%;
}

.footer {
    background: #264653;
    height: 50px;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    z-index: 6;
    width: 100%;
    opacity: 90%;
    bottom: 0px;
    display: flex;
    justify-content: center;
}